In [1]:
one = 1
two = 2
three = 3
four = 4
can = "can"
do = "do"
python = "python"
more = "more"

print(one, two, three, four, can, do, python, more)

1 2 3 4 can do python more

In [2]:
number1 = 15
number2 = 30
result = number1 * number2

print("The result is", result)

The result is 450

In [3]:
def checkNum(numbers):
    if numbers[0] == numbers[-1]:
        return True
    else:
        return False

numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]

print("Given list:", numbers_x)
print("result is", checkNum(numbers_x))

print("Given list:", numbers_y)
print("result is", checkNum(numbers_y))

Given list: [10, 20, 30, 40, 10]
result is True
Given list: [75, 65, 35, 75, 30]
result is False

In [4]:
numbersList = [10, 20, 33, 46, 55]
print("Given list is", numbersList)
print("Divisible by 5")

for num in numbersList:
    if num % 5 == 0:
        print(num)

Given list is [10, 20, 33, 46, 55]
Divisible by 5
10
20
55

In [5]:
str_x = "Anjali is good developer. Anjali is a writer"
count = str_x.count("Anjali")

print("Anjali appeared", count, "times")

Anjali appeared 2 times

In [6]:
for i in range(1, 6):
    print(f"{i} " * i)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [7]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end="\t")
    print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

In [8]:
import numpy as np

Temp_K = [390.65, 107.52, 225.25, 275.98, 318.18, 88.45]
tempArray = np.array(Temp_K)

tempC = tempArray - 273.15

print(tempC)

[ 117.5  -165.63  -47.9     2.83   45.03 -184.7 ]

In [11]:
import pandas as pd

data = {
    "Student": ["Tommy", "Fred", "Gail", "User", "Randy", "Ariel"],
    "Hair Color": ["Brown", "Grey", "Blonde", "Brown", "Black", "Brown"],
    "Eye Color": ["Hazel", "Green", "Blue", "Brown", "Hazel", "Blue"],
    "Weight in kilograms": [60, 80, 76, 60, 88, 85]
}

df = pd.DataFrame(data)
df.index = [1, 2, 3, 4, 5, 6]

print(df)
print("\n")
print(df["Hair Color"])
print("\n")
print(df[["Eye Color"]])
print("\n")
print(df[["Student", "Weight in kilograms"]])
print("\n")
print(df.iloc[1:4])

  Student Hair Color Eye Color  Weight in kilograms
1   Tommy      Brown     Hazel                   60
2    Fred       Grey     Green                   80
3    Gail     Blonde      Blue                   76
4    User      Brown     Brown                   60
5   Randy      Black     Hazel                   88
6   Ariel      Brown      Blue                   85


1     Brown
2      Grey
3    Blonde
4     Brown
5     Black
6     Brown
Name: Hair Color, dtype: object


  Eye Color
1     Hazel
2     Green
3      Blue
4     Brown
5     Hazel
6      Blue


  Student  Weight in kilograms
1   Tommy                   60
2    Fred                   80
3    Gail                   76
4    User                   60
5   Randy                   88
6   Ariel                   85


  Student Hair Color Eye Color  Weight in kilograms
2    Fred       Grey     Green                   80
3    Gail     Blonde      Blue                   76
4    User      Brown     Brown                   60