In [1]:

import pandas as pd

mambajs 0.19.13

Specs: xeus-python, numpy, matplotlib, pillow, ipywidgets>=8.1.6, ipyleaflet, scipy, pandas
Channels: emscripten-forge, conda-forge

Solving environment...
Solving took 0.463 seconds
  Name                          Version                       Build                         Channel
────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
+ pandas                        3.0.0                         np22py313h9d9dc1e_1           emscripten-forge
+ python-tzdata                 2025.3                        pyhd8ed1ab_0                  conda-forge
- pip                           25.3                          pyh145f28c_0                  conda-forge

In [2]:
cumulative_miles = pd.Series(
    data=[55, 120, 178, 241, 305],
    index=[1, 2, 3, 4, 5],    
    name="Cumulative Miles"
)

cumulative_miles

1     55
2    120
3    178
4    241
5    305
Name: Cumulative Miles, dtype: int64

In [3]:
daily_miles = cumulative_miles.diff()
daily_miles.iloc[0] = cumulative_miles.iloc[0]
daily_miles.name = "Daily Miles"

daily_miles

1    55.0
2    65.0
3    58.0
4    63.0
5    64.0
Name: Daily Miles, dtype: float64

In [4]:
summary = pd.DataFrame({
    "Cumulative Miles": cumulative_miles,
    "Daily Miles": daily_miles
})

summary

   Cumulative Miles  Daily Miles
1                55         55.0
2               120         65.0
3               178         58.0
4               241         63.0
5               305         64.0